<div  class="container-fluid h-100 text-center">
    <h1 class="display-1">Logged out successfully.</h1>
    <%= link_to "Return to Login Page?", new_user_session_path, method: :get, form_class: "pb-5", class: "display-7" %>
</div>