 <table summary="Training Enrollment form fields">
      <tr>
        <th>Course ID</th>
        <td><%= f.text_field(:course_id) %></td>
      </tr>
      <tr>
        <th>User ID</th>
        <td><%= f.text_field(:user_id) %></td>
      </tr>
      <tr>
        <th>Completion Date</th>
        <td><%= f.date_field(:completion_status) %></td>
      </tr>
     
    </table>