<div class="container">
  <h2>Create Enrollment</h2>

  <%= form_for(@enrollment) do |f| %>
    <%= render(partial: 'form', locals: { f: f }) %>

    <div class="form-buttons">
      <%= f.submit("Create Enrollment", class: 'btn btn-primary') %>
    </div>
  <% end %>
</div>
