<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">New User</h1>
          <%= render 'form', user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>
