<!-- delete.html.erb -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Project</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <%= form_for(@project, method: 'delete') do |f| %>
    <h1>Delete Project: <%= @project.project_name %></h1>
    <p>Are you sure you want to delete this project?</p>
    <%= f.submit "Delete Project", class: "btn btn-danger" %>
    <%= link_to "Cancel", projects_path, class: "btn btn-secondary" %>
  <% end %>

</div>

</body>
</html>
