<!-- app/views/training_notification_mailer/warningnotification.html.erb -->
<h1>Aggie Satellite Laboratory</h1>
<h2>Your training is expiring soon!</h2>
<p>Howdy <%= @user.first_name %>,</p>
<p>The following training courses will be expiring soon.</p>
<p><%= @content %> </p>
<p>Please redo them in order to be able to participate in the organization.</p>
<p>You may submit verification of your training here.</p>


<p>[This is an automated email, do not reply].</p>
<!-- Include any other email content -->
