body {
  background-color: #f8f9fa;
}

.container {
  margin-top: 50px;
}

.card {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

h1, h2 {
  color: #800000;
  text-align: center;
  margin-bottom: 30px;
}

.btn-custom {
  background-color: #800000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #5a0000;
  color: white;
}

.form-control-file {
  margin-bottom: 10px;
}

.table {
  margin-top: 20px;
}
/* app/assets/stylesheets/pdfstyles.css */

/* Custom styles for the h5 element */
h5 {
  color: #333; /* Change the text color */
  font-size: 1.2rem; /* Adjust the font size */
  margin-bottom: 20px; /* Add some bottom margin */
  margin-left: 20px;
  margin-right: 20px;
}
