<!-- app/views/pdf_processor/upload.html.erb -->

<h1>Upload PDF</h1>

<%= form_tag({ action: :process_pdf }, multipart: true) do %>
  <%= file_field_tag :pdf %>
  <%= submit_tag 'Process PDF' %>
<% end %>
